    <link rel="stylesheet" href="/admincss/header.css">
    <header>
        <nav>
            <ul>
                <li><a href="/../admin">Home</a></li>
                <li><a href="/../admin/adminblog">Blog</a></li>
                <li><a href="/../admin/team">Team</a></li>
                <li><a href="/../admin/contact">Contact</a></li>
                <li><a href="/../admin/social">Social</a></li>
                <li><a href="/../admin/address">Address</a></li>
                <li><a href="/login">Login</a></li>
                <li><a href="/logout">Logout</a></li>
            </ul>
        </nav>
    </header>