<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../../public/admincss/header.css">
    <title>Document</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="../admin">Home</a></li>
                <li><a href="../admin/adminblog">Blog</a></li>
                <li><a href="../admin/team">Team</a></li>
                <li><a href="../admin/contact">Contact</a></li>
                <li><a href="../admin/social">Social</a></li>
                <li><a href="../admin/address">Address</a></li>
                <li><a href="/login">Login</a></li>
            </ul>
        </nav>
    </header>
</body>
</html>